<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Thanks Board</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'normalize.css' %>
  <%= stylesheet_link_tag 'semantic.min.css' %>
  <link rel="stylesheet" href="css/lib/font-awesome-4.5.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.8.2.min.js' %>
  <%= javascript_include_tag 'jquery-easing.js' %>
  <%= javascript_include_tag 'semantic.min.js' %>
  <%= javascript_include_tag 'vue.min.js' %>
  <%= javascript_include_tag 'vue-router.min.js' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
